body {
  background-color: aqua;
  font-family: Georgia;
}

h1 {
  font-size: 60px;
  color: darkblue;
  font-family: Comic Sans MS;
  text-align: center;
}

p {
  text-align: justify;
}

h4 {
  text-align: right;
  font-style: italic;
}
